<div class="author-references">
    <a href="{{ site.author.email }}" target="_blank">
        <svg fill="var(--color-quaternary)"><use href="/_assets/media/svg/sprites.svg#mail"></use></svg>  
    </a>
    <a href="{{ site.author.linkedin }}" target="_blank">
        <svg fill="var(--color-quaternary)"><use href="/_assets/media/svg/sprites.svg#linkedin"></use></svg> 
    </a>
    <a href="{{ site.author.github }}" target="_blank">
        <svg fill="var(--color-quaternary)"><use href="/_assets/media/svg/sprites.svg#github"></use></svg> 
    </a>
    <a href="{{ site.author.codepen }}" target="_blank">
        <svg fill="var(--color-quaternary)"><use href="/_assets/media/svg/sprites.svg#codepen"></use></svg> 
    </a>
    <a href="{{ site.author.Stackoverflow }}" target="_blank">
        <svg fill="var(--color-quaternary)"><use href="/_assets/media/svg/sprites.svg#Stackoverflow"></use></svg> 
    </a>
</div>