---
layout: "/layouts/layout-home.njk"
---
<article class="card-progress js-skills">
    <label for="file">
        <h4> {{ skill.data.CardSkillsTitle }} </h4>
        <svg>
            <use href="_assets/media/svg/sprites.svg#js"></use>
        </svg>
    </label>
    <progress id="file" class="progress" value="85" max="100"></progress> 
        <p>
        Make no mistake, <mark>Javascript</mark> <b>Is Not</b> <mark class="line-through">JAVA.</mark> <br>
        Javascript is the programming language of the Web. <br>
        In recent years it has become one of the most popular programming language in the tech industry. <br>
        Having a solid knowledged on how the DOM works is essential for any Modern Web Developer.
    </p>
      {{ content | safe }}
</article>


{# <article>
  <h1>{{ title }}</h1>
  <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
  {{ content | safe }}
</article> #}

