el-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}


el-grid > el-column > h2 {
  text-align: center;
}

@media(min-width: 1268px) {
  el-grid > el-column >  h2 {
    text-align: initial;
  }
  
}

el-button {
	grid-column: 1 / -1;
	margin: auto;
	text-align: center;
}

@media(max-width: 1024px) {
  el-column {
    padding-left: 32px;
    padding-right: 32px;
  }
}
