  .author-references a {
    text-decoration: none;
  }

  .author-references svg {
    width: 56px;
    height: 56px;
    padding: 0.5rem;
  }

  .author-references a:hover svg {
    fill: var(--color-primary);
    box-shadow: var(--color-shadow);
    background: var(--color-quaternary);
    border-radius: 50%;
    transition: 0.1s;
  }

  .author-references a:active svg {
    transition: 0.3s;
    transform: translateY(0.3rem);
  }
