/*
form
----------------------------------
*/

form {
	display: block;
	font-family: var(--font-family-content);
	width: 100%;
}

input {
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	cursor: text;
	position: absolute;
	color: #000 !important;
	display: block;
	width: 100%;
	min-width: 100%;
	height: 100%;
	border: none;
	font-size: 1em;
	padding-left: 32px;
	padding-top: 32px;
	border-radius: 2px;
}

input:focus {
	/* outline: 0; */
}

input::placeholder {
	color: var(--color-dark);
	font-family: var(--font-family-content);
	font-size: 0.8rem;
	font-style: italic;
}

input {
	transition: background .5s ease-out;
}

/*1*/
input:required:invalid {
	background: rgba(250, 250, 250, 0.2);
}

/*2*/
input:focus:invalid {
	background: rgba(255, 0, 0, 0.18);
}

/*3*/
input:required:valid {
	background: rgba(3, 247, 3, 0.318);
}

/*4*/
input:focus:valid {
	background: rgba(175, 193, 215, 0.393);
}

select {
	display: block;
	width: auto;
	margin: 0;
	background: #fff;
	border: none;
	font-size: 1em;
	font-family: sans-serif;
	border-radius: 2px;
	border: 1px solid rgba(221, 221, 221, .41);
	-webkit-box-shadow: var(--color-shadow);
	box-shadow: var(--color-shadow);
	margin-right: auto;
}

option {
	padding: 8em;
}

/*
netliform
----------------------------------
*/

.netliform {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background: var(--color-white);
	width: 100%;
	max-width: 768px;
	margin: auto;
	padding: 1rem;
	font-size: 0.9rem;
	overflow-y: auto;
}

.netliform .fullwidth {
	grid-column: 1 / -1;
}

.netliform h3 {
	display: flex;
	align-items: center;
	align-self: flex-start;
	padding: 0;
	color: var(--color-quaternary);
}

.form-field {
	padding: 8px;
	position: relative;
	border: 1px solid var(--color-light);
}

.form-field label {
	display: block;
	font-size: 1rem;
	color: var(--color-quaternary);
}

.field-group {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	vertical-align: middle;
	margin: 1rem 0;
}


.field-group svg {
	width: 16px;
	height: 16px;
	fill: var(--color-quaternary);
	z-index: 4;
}


/*
simple form
----------------------------------
*/

.simple-form h3 {
	margin: 0;
	padding: 1rem 0;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: var(--color-quaternary);
	align-self: center;
}

.simple-form form {
	padding: 0rem;
}

.simple-form .form-field {
	margin: 16px 0;
	padding: 8px;
	border: 0;
	box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.56);
}

.simple-form el-button {
	margin: auto;
}

@media(min-width:768px) {
	.simple-form h3 {
		align-self: flex-start !important;
	}

	.simple-form el-button {
		margin: 0;
		margin-left: auto !important;
	}
}

/*
popup form
----------------------------------
*/

.popup-form h3 {
	margin: 0;
	padding: 0 1rem;
	font-size: 1rem;
	text-transform: uppercase;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.popup-form form {
	position: relative;
	display: grid;
	grid-gap: 16px;
	grid-template-columns: 1fr 1fr;
	background: var(--color-white);
	min-width: 350px;
	max-width: 768px;
	padding: 16px;
	font-size: 0.9rem;
	
}

.popup-form .form-field {
	border: 1px solid var(--color-light);
}

.popup-form select {
	margin-left:8px;
}


/*
subscriber form
---------------------------------- 
*/
.subscriber-form {
	background: #fafafa !important
}


.mailbar {
	height: 12px;
	width: 100%;
	background: var(--theme-ui-colors-newsletter-background,#ffffff) repeating-linear-gradient( 135deg,var(--theme-ui-colors-newsletter-stripeColorA,#ff5a54),var(--theme-ui-colors-newsletter-stripeColorA,#ff5a54) 20px,#0000 20px,#0000 40px,var(--theme-ui-colors-newsletter-stripeColorB,#3fa9f5) 40px,var(--theme-ui-colors-newsletter-stripeColorB,#3fa9f5) 60px,#0000 60px,#0000 80px );
}
.subscriber-form h3 {
	display: flex;
	align-items: center;
	align-self: flex-start;
	padding: 0;
}

.subscriber-form form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 200px;
}

.subscriber-form .form-field {
	width: 100%;
	border: 1px solid var(--color-light);
	background: white;
}

/*
sendMesseage form
---------------------------------- 
*/
.sendMesseage-form {
	width: 100%;
	max-width: 100%;
}
