
#mobil-menu {
	display: block;
	margin-left: auto;
}

#mobil-menu ul {
	padding: 0;
	margin: 0;
}

#mobil-menu li:hover {
	width: 100%;
	background: #ededed;
}

#mobil-menu a {
	width: 100%;
	padding: 1rem 0.4rem;
	font-size: 0.8rem !important;
}

@media(min-width:1024px) {
	#mobil-menu {
		display: none;
	}
}


.menu-navbar {
	text-transform: capitalize;
}