---
title: "Blog"
description: "This is the Blog page"
layout: "/layouts/layout-blog.njk"
PagePathToBanner: "var(--color-banner-shadow), url(/_assets/media/images/abstract-1.jpg)"
keywords:  
    - Javascript
    - Web Components
pagination:
  data: collections.article
  size: 10
  reverse: true
  alias: articles
---
<el-section>
    <el-grid pixel-width="768" columns="1">
        <el-column grid="row" display="flex" flex-direction="column" justify-content="center" align-items="center" >
            <figure id="author">
                <img class="author-avatar" src="{{ site.author.avatar}}" alt="{{ site.author.author}} Avatar" title="{{ site.author.author}} Avatar">
                <h2 class="author-name"> {{ site.author.name}} </h2>
                <div class="author-titles">
                    {% for subtitles in site.author.subtitle %}
                        <h2> {{ subtitles }} </h2>
                    {% endfor %}
                    {% for titles in site.author.title %}
                        <h2> {{ titles }} </h2> 
                    {% endfor %}
                </div>
            </figure>
            <nav class="navigation-keywords" aria-labelledby="navigation-keywords-article-accesible-hidden">
                <h6 id="navigation-keywords-article-accesible-hidden">This is the navigation keywords component</h6>
                <ul class="article-keywords">
                    {% for item in keywords %}
                        <li><em class="keyword-tags">{{ item }}</em></li>
                    {% endfor %}
                </ul>
            </nav>
        </el-column>
        <el-column grid="row">
            <ul>
                {% for article in articles %}
                    <li>
                        <article class="card-article">
                            <time datetime="{{ article.date | dateIso }}">{{ article.date | dateReadable }}</time><br><br>
                            <h2> {{ article.data.title }} </h2>
                            {% excerpt article %}
                            <el-button class="button-center">
                                <a slot="button" extended="button" theme="quaternary" href="{{ article.url | url }}">Read more</a>
                            </el-button>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </el-column>
    </el-grid>
</el-section>
<el-section background="#fafafa">
    <el-grid pixel-width="768" columns="1">
        <el-column grid="row">
            {% include "forms/form-subscribe.njk" %}
        </el-column>
    </el-grid>
</el-section>


