---
layout: "/layouts/layout-article.njk"
---
<el-section id="article-page" padding-gap="10">
    <el-grid pixel-width="1024" auto-fit="columns" gap="3" template-columns="3fr 1fr">
        <el-column>
            <article id="article">
                {% block content  %}
                    {{ content | safe }}
                {% endblock content %}
            </article>
        </el-column>
        <el-column>
            <aside id="article-sidebar">
                <div class="article-author">
                    <img class="author-avatar" src="{{ site.author.avatar}}" alt="{{ site.author.name}} Avatar">
                    <div class="author-meta">
                       <p> <b> {{ site.author.name }} </b> </p>
                       <p> <time datetime="{{ date | dateIso }}">  {{ date | dateReadable }}  </time> </p>
                    </div>
                </div>
                <ul class="article-keywords">
                    {% for item in keywords %}
                        <li><b>{{ item }}</b></li>
                    {% endfor %}
                </ul>
            </aside>
        </el-column>
    </el-grid>
</el-section>