---
layout: "/layouts/layout-article.njk"
---
<el-section>
    <el-grid gap="6" template-columns="minmax(350px, 768px) minmax(350px, 1fr)"> 
        <el-column>
            <article id="article">
                {% block content  %}
                    {{ content | safe }}
                {% endblock content %}
            </article>
        </el-column>
        <el-column>
             <aside>
                <figure id="author-article">
                    <img class="author-avatar" src="{{ site.author.avatar}}" alt="{{ site.author.name }} Avatar" title="{{ site.author.name }} Avatar">
                    <span>
                        <h2 class="author-name"> {{ site.author.name}} </h2>   
                        <p> <time datetime="{{ date | dateIso }}">  {{ date | dateReadable }}  </time> </p>  
                    </span> 
                </figure>
                <div id="ads">
                
                </div>
            </aside>
        </el-column>
    </el-grid>
</el-section>