---
layout: "/layouts/layout-article.njk"
---
<el-section>
    <el-grid> 
        <el-column>
            <h4 class="preface">{{ preface }}</h4>
        </el-column>
        <el-column>
            <div id="bio-article">
                <img class="author-avatar" src="{{ site.author.avatar}}" alt="{{ site.author.name }} Avatar" title="{{ site.author.name }} Figure">
                <div>
                    <h2 class="author-name"> {{ site.author.name}} </h2>   
                    <time datetime="{{ date | dateIso }}">  {{ date | dateReadable }}  </time>  <br> 
                    <em class="article-update">Updated:  <time datetime="{{ update | dateIso }}">  {{ update | dateReadable }}  </time>  </em> 
                </div> 
            </div>
            <ul class="article-keywords">
                {% for item in keywords %}
                    <li><h4 class="keyword-tags">{{ item }}</h4></li>
                {% endfor %}
            </ul>
        </el-column>
    </el-grid>
    <el-grid> 
        <el-column>
            <article id="article">
                {% block content  %}
                    {{ content | safe }}
                {% endblock content %}
            </article>
            <hr style="margin:72px 0; border:1px solid #fafafa;">
            {% include "forms/form-subscribe.njk" %}
        </el-column>
        <el-column>
             <aside>
                <div id="ads">
                    <div class="ad">
                        <p>Ad via samcart</p>
                        <img src="https://codingphase.com/wp-content/uploads/2019/11/tinycodingphaseblack.png" alt="ad" title="ad">
                        <a href="https://codingphase.samcart.com/referral/AjaUmqdO/H7PnqhgeGBR3rvru">Limited time offer: Monthly Plan with 3 Day Free Trial.</a>
                    </div>
                </div>
            </aside>
        </el-column>

         <el-column class="disqus-section">
                <div id="disqus_thread"></div>

                <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://www-andrewrico-com.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        
        </el-column>
    </el-grid>

</el-section>


