---
layout: "/layouts/layout-article.njk"
---
<el-section padding-bottom="0">
    <el-grid> 
        <el-column>
            <h4 class="preface">{{ preface }}</h4>
        </el-column>
        <el-column>
             <aside>
                <div id="bio-article">
                    <img class="author-avatar" src="{{ site.author.avatar}}" alt="{{ site.author.name }} Avatar" title="{{ site.author.name }} Figure">
                    <div>
                        <h2 class="author-name"> {{ site.author.name}} </h2>   
                        <time datetime="{{ date | dateIso }}">  {{ date | dateReadable }}  </time>  <br> 
                        <em class="article-update">Updated:  <time datetime="{{ update | dateIso }}">  {{ update | dateReadable }}  </time>  </em> 
                    </div> 
                </div>
                <div class="navigation-keywords">
                    <ul class="article-keywords">
                        {% for item in keywords %}
                            <li><h4 class="keyword-tags">{{ item }}</h4></li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
        </el-column>
    </el-grid>
</el-section>
<el-section padding-top="4">
    <el-grid> 
        <el-column>
            <article id="article">
                {% block content  %}
                    {{ content | safe }}
                {% endblock content %}
            </article>
            {% include "forms/form-subscribe.njk" %}
        </el-column>
        <el-column>
             <aside>
                <div id="ads"></div>
            </aside>
        </el-column>
    </el-grid>
</el-section>