---
layout: "layouts/layout-project.njk"
---
<el-section>
    <el-grid class="project-grid">
        {% block content  %}
            {{ content | safe }}
        {% endblock content %}
    </el-grid>
</el-section>