---
title: "Contact"
description: "This is the Contact page"
layout: "/layouts/layout-contact.njk"
PagePathToBanner: "var(--color-banner-shadow), url(/_assets/media/images/abstract-5.jpg)"
---
<el-section>
    <el-grid template-columns="1fr 2fr" gap="3">
        <el-column grid="row"><h2>Get In Touch</h2></el-column>
        <el-column grid="row">
            <iframe 
                title="MAP OF FLORIDA USA, andrew's rico current location"
                rel="preconnect"
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d119613.34798108297!2d-80.2624127479914!3d26.09798276038886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1574782225997!5m2!1sen!2sus" 
                style="border:0; width:100%; min-height:50vh;" 
                >
            </iframe>
        </el-column>
        <el-column display="flex" flex-direction="column" justify-content="center" align-items="center">
            <div id="author">
                <img class="author-avatar" src="{{ site.author.avatar }}" alt="{{ site.author.author }} Avatar" title="{{ site.author.author }} Figure">
                {% include "navigations/navigation-social.njk" %}
                <div>
                    <h2 class="author-name"> {{ site.author.name}} </h2>
                    <h2 class="author-location"><svg width="12" height="12" fill="white"><use href="_assets/media/svg/sprites.svg#location"></use></svg> {{ site.author.location }}</h2>
                    {% for subtitles in site.author.subtitle %}
                        <h2 class="author-title"> {{ subtitles }} </h2>
                    {% endfor %}
                    {% for titles in site.author.title %}
                        <h2 class="author-title"> {{ titles }} </h2> 
                    {% endfor %}
                </div>                
            </div>
        </el-column>
         <el-column>
            {% include "forms/form-message.njk" %}
        </el-column>
    </el-grid>
</el-section>