---
title: "Contact"
description: "This is the Contact page"
layout: "/layouts/layout-contact.njk"
pathTo_banner: "radial-gradient(ellipse closest-side, #0f0e1680, #100e17), url(/_assets/media/images/abstract-5.jpg)"
---
<el-section id="contact-page" padding-gap=6>
    <el-grid auto-fit="columns" columns="2" gap="3">

        <el-inline attr="row"><h2>Get In Touch</h2></el-inline>

        <el-inline>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d119613.34798108297!2d-80.2624127479914!3d26.09798276038886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1574782225997!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </el-inline>

        <el-inline>
            <div class="contactIcons">
                <a href="https://www.linkedin.com/in/andrewrico-/" target="_blank">
                    <svg fill="var(--color-quaternary)"><use href="/_assets/media/svg/sprites.svg#linkedin"></use></svg> 
                </a>
                <a href="https://github.com/Andrewrico" target="_blank">
                    <svg fill="var(--color-quaternary)"><use href="/_assets/media/svg/sprites.svg#github"></use></svg> 
                </a>
                <a href="/contact">
                    <svg fill="var(--color-quaternary)"><use href="/_assets/media/svg/sprites.svg#mail"></use></svg>  
                </a>
            </div>
            <h4 style="color:var(--color-quaternary); font-size:1.6rem;">
                Send me a message
                <svg width="24" height="24" fill="var(--color-quaternary)"><use href="/_assets/media/svg/sprites.svg#rocket"></use></svg>
            </h4>
            <form 
            id="andrewrico-SendMessageForm-contactPage"
            class="form-skin" 
            name="FormSendMessage-contact-Page" 
            method="POST" 
            data-netlify="true">
                <label for="name">name</label>
                <input type="text" name="name" placeholder="Name" aria-label="name" />
                <label for="email">email</label>
                <input type="email" name="email" placeholder="Email" aria-label="email" />
                <label for="phone">phone</label>
                <input type="text" name="phone" placeholder="Phone" aria-label="phone" />
                <label for="message">message</label>
                <textarea name="message" rows="1" placeholder="In a few words, tell me about your inquiry" aria-label="message"></textarea><br><br>
                <el-button class="cubic">
                    <button type="submit" slot="button" extended="button" theme="custom">
                        Send Message
                    </button>
                </el-button>
            </form>
        </el-inline>
    </el-grid>
</el-section>