---
title: "Contact"
description: "This is the Contact page"
layout: "/layouts/layout-contact.njk"
PagePathToBanner: "var(--color-banner-shadow), url(/_assets/media/images/abstract-5.jpg)"
---
<el-section id="contact-page" padding-gap=6>
    <el-grid auto-fit="columns" template-columns="1fr 2fr" gap="3">

        <el-column attr="row"><h2>Get In Touch</h2></el-column>

        <el-column attr="row">
            <iframe 
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d119613.34798108297!2d-80.2624127479914!3d26.09798276038886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1574782225997!5m2!1sen!2sus" 
            width="100" 
            height="100" 
            frameborder="0" 
            style="border:0; width:100%; min-height:50vh;" 
            allowfullscreen=""
            >
            </iframe>
        </el-column>

        <el-column display="flex" flex-direction="column" justify-content="center" align-items="center" >
            <el-inline class="card">
                <img class="author-avatar" src="{{ site.author.avatar}}" alt="{{ site.author.author}} Avatar">
                <h1> {{ site.author.name}} </h1>
                {% include "components/author-references.njk" %}
                <p> {{ site.author.bio}} </p>                
            </el-inline>
        </el-column>

         <el-column>
            {% include "forms/form-sendMessage.njk" %}
        </el-column>
    </el-grid>
</el-section>