---
title: "Portfolio"
description: "This is the Portfolio page"
layout: "/layouts/layout-portfolio.njk"
PagePathToBanner: "var(--color-banner-shadow), url(/_assets/media/images/abstract-2.jpg)"
pagination:
  data: collections.projects
  size: 3
  reverse: true
  alias: projects
---
<el-section id="portfolio-page" padding-top="6" padding-bottom="12">
    <el-grid auto-fit="columns" columns="3" gap="3">

        <el-column id="recent" attr="row">
            <h2>Recent Projects</h2>
        </el-column>
        <el-column>
            <ul>
            {% for project in projects %}
                <li>
                    <article class="card-minimal">
                        <img src="{{ project.data.ProjectPathToimage }}" alt="{{ project.data.ProjectPathToimageAlt }}">
                        <h3>{{ project.data.title }}</h3>
                        <h4 class="card-tags">
                            <span>{{ project.data.ProjectStringCathegory }}</span>
                            <span>{{ project.data.ProjectStringType }}</span>
                        </h4>
                        <h4 class="card-subtitle"> 
                            <svg> <use href="/_assets/media/svg/sprites.svg#commmas"></use></svg>
                            {{ project.data.ProjectStringMade }}
                        </h4>
                        <ul>
                            <li>
                                <a href="{{ project.data.ProjectLinkToDemo }}">
                                    <svg> <use href="/_assets/media/svg/sprites.svg#earth"></use></svg>
                                </a> DEMO
                            </li>
                            <li>
                                <a href="{{ project.data.ProjectLinkToCode }}">
                                    <svg> <use href="/_assets/media/svg/sprites.svg#github"></use> </svg>
                                </a> CODE
                            </li>
                            <li>
                                <a href="{{ project.url | url }}">
                                    <svg><use href="/_assets/media/svg/sprites.svg#timeline"></use></svg>
                                </a> CASE STUDY
                            </li>
                        </ul>
                    </article>
                </li>
            {% endfor %}
            </ul>
        </el-column>
        
        <el-column id="Javascript" attr="row">
            <h2>Javascript</h2>
        </el-column>
        <el-column>
            <ul>
            {%- for js in collections.js -%}
                <li>
                    <article class="card-minimal">
                        <img src="{{ js.data.ProjectPathToimage }}" alt="{{ project.data.ProjectPathToimageAlt }}">
                        <h3>{{ js.data.title }}</h3>
                        <h4 class="card-tags">
                            <span>{{ js.data.ProjectStringCathegory }}</span>
                            <span>{{ js.data.ProjectStringType }}</span>
                        </h4>
                        <h4 class="card-subtitle"> 
                            <svg> <use href="/_assets/media/svg/sprites.svg#commmas"></use></svg>
                            {{ js.data.ProjectStringMade }}
                        </h4>
                        <ul>
                            <li>
                                <a href="{{ js.data.ProjectLinkToDemo }}">
                                    <svg> <use href="/_assets/media/svg/sprites.svg#earth"></use></svg>
                                </a> DEMO
                            </li>
                            <li>
                                <a href="{{ js.data.ProjectLinkToCode }}">
                                    <svg> <use href="/_assets/media/svg/sprites.svg#github"></use> </svg>
                                </a> CODE
                            </li>
                            <li>
                                <a href="{{ js.url | url }}">
                                    <svg><use href="/_assets/media/svg/sprites.svg#timeline"></use></svg>
                                </a> CASE STUDY
                            </li>
                        </ul>
                    </article>
                </li>
            {% endfor %}
            </ul>
        </el-column>

    </el-grid>
</el-section>
