---
stylesheet: "/_assets/css/stylesheet.css"
layout: "/layouts/layout-portfolio.njk"
fonts: "https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro|Coda+Caption:800|Dancing+Script&display=swap"
title: "Portfolio Page"
pagination:
  data: collections.projects
  size: 10
  reverse: true
  alias: projects
---
<el-section padding-top="6" padding-bottom="12">
    <el-grid auto-fit="columns" columns="3" gap="3">
        <el-column attr="row">
            <h2>Recent Projects</h2>
        </el-column>
        {% for project in projects %}
            <article class="card-minimal">
                <img src="{{ project.data.image }}" alt="{{ project.data.placeholder }}">
                <h3>{{ project.data.title }}</h3>
                <h4 class="card-tags"><span>{{ project.data.cathegory }}</span> <span>{{ project.data.type }}</span></h4>
                <ul>
                    <li>
                        <a href="{{ project.data.livePath }}">
                            <svg> <use href="/_assets/media/svg/sprites.svg#earth"></use></svg>
                        </a>live
                    </li>
                    <li>
                        <a href="{{ project.data.codePath }}">
                            <svg> <use href="/_assets/media/svg/sprites.svg#github"></use> </svg>
                        </a>Code
                    </li>
                    <li>
                        <a href="{{ project.data.infoPath }}">
                            <svg><use href="/_assets/media/svg/sprites.svg#zoom"></use></svg>
                        </a>Details
                    </li>
                </ul>
                <a href="{{ project.url | url }}">{{ project.data.title }}</a>
            </article>
        {% endfor %}
    </el-grid>
</el-section>