<header class="simple-header">
    <el-section class="simple-banner" padding-top="6" padding-bottom="2">
        <el-grid pixel-width="768">
            <el-column grid="row">  
                <h1>
                    {{ title }}
                </h1>
            </el-column>  
        </el-grid>
    </el-section>
</header>