 <header> 
    <el-section 
        id="about" 
        class="homepage-banner"
        background="{{ PagePathToBanner }}" 
        color="var(--color-white)"
        >
        <div class="card-bio">
            <div class="bio-author">
                <img class="bio-avatar" src="{{ site.author.avatar }}" alt="{{ site.author.name }} Avatar" title="{{ site.author.name }} Avatar">
                <div class="bio-info">
                    <h1> Hello, I'am <b> {{ site.author.name }} </b>  </h1>
                    <h2 class="bio-location"><svg width="12" height="12" fill="white"><use href="_assets/media/svg/sprites.svg#location"></use></svg> {{ site.author.location }}</h2>
                    <div class="bio-titles">
                        {% for subtitles in site.author.subtitle %}
                            <h2> {{ subtitles }} </h2>
                        {% endfor %}
                        {% for titles in site.author.title %}
                            <h2> {{ titles }} </h2> 
                        {% endfor %}
                    </div> 
                </div>
            </div>
            <div class="bio-terminal"> 
                <p class="typewrite" data-period="2500" data-type='[ 
                        " I like to build things – I love knowledge ", 
                        " and I strongly believe technology can ",
                        " and should enrich every single life ", 
                        " this universe has to offer. ", 
                        " When I’m not working on client projects ",
                        " I’m either learning about new technologies ",
                        " or finding new ways to bring more value ",
                        " to my clients at an affordable price. ",
                        " I`ve always been drawn to the overlap ",
                        " between design and development. ",
                        " I enjoy each aspect, and love ", 
                        " building sites & web applications ",
                        " from start to finish, for clients ",
                        " all over the world. ", 
                        " I`m available for remote work - ",
                        " if you would like to build something, ",
                        " let`s work together? "
                    ]'>
                </p>
            </div>
            <nav class="bio-navgigation" aria-labelledby="navigation-card-bio-accesible-label">
                <h3 id="accesible-card-bio-navigation">NAVIGATION: SOCIAL ICONS</h3>
                <ul>
                    <li> 
                        <a href="{{ site.author.linkedin }}" target="_blank" rel="noopener" aria-label="link to linkedin andrew's rico profile"><svg fill="white"><use href="_assets/media/svg/sprites.svg#linkedin"></use></svg></a> 
                        LinkedIn 
                    </li> 
                    <li>
                        <a href="{{ site.author.github }}" target="_blank" rel="noopener" aria-label="link to github andrew's rico profile"><svg fill="white"><use href="_assets/media/svg/sprites.svg#github"></use></svg></a>
                        Github 
                    </li> 
                    <li>
                        <a href="/portfolio" aria-label="link to andrew's rico portfolio page"><svg fill="white"><use href="_assets/media/svg/sprites.svg#icon-portfolio"></use></svg></a>
                        Porfolio 
                    </li> 
                    <li>
                        <a href="/blog" aria-label="link to andrew's rico blog page"><svg fill="white"><use href="_assets/media/svg/sprites.svg#icon-blog"></use></svg></a>
                        Blog 
                    </li> 
                    <li>
                        <a href="/contact" aria-label="link to andrew's rico contact page"><svg fill="white"><use href="_assets/media/svg/sprites.svg#icon-contact"></use></svg></a>
                        Contact 
                    </li> 
                </ul>
            </nav>
            <br>
            <el-button class="button-center">
                <a slot="button" extended="button" theme="custom" href="#schedule-phone-call">Schedule a Phone Call</a>
            </el-button>
        </div>
    </el-section>
</header>