 <header class="homepage-banner"> 
    <el-section 
        id="about" 
        background="{{ PagePathToBanner }}" 
        color="var(--color-white)"
        >
        <el-grid max-width="100">
            <el-column grid="row">
                <div class="card-bio">
                    <div class="bio-author">
                        <img class="bio-avatar" src="{{ site.author.avatar }}" alt="{{ site.author.name }} Avatar" title="{{ site.author.name }} figure">
                        <div>
                            <h1 class="bio-name"> Hello, I'am {{ site.author.name }} </h1>
                            <h2 class="bio-location">
                                <svg><use href="_assets/media/svg/sprites.svg#location"></use> </svg> {{ site.author.location }}
                            </h2>
                            {% for subtitles in site.author.subtitle %}
                                <h2 class="bio-title"> {{ subtitles }} </h2>
                            {% endfor %}
                            {% for titles in site.author.title %}
                                <h2 class="bio-title"> {{ titles }} </h2> 
                            {% endfor %}
                        </div> 
                    </div>
                    <div class="bio-terminal"> 
                        <p class="typewrite" data-period="2500" data-type='[ 
                                " I like to build things – I love knowledge ", 
                                " and I strongly believe technology can ",
                                " and should enrich every single life ", 
                                " this universe has to offer. ", 
                                " When I’m not working on job projects ",
                                " I’m either learning about new technologies ",
                                " or finding new ways to improve my skilset.",
                                " I`ve always been drawn to the overlap ",
                                " between design and development. ",
                                " I enjoy each aspect, and love ", 
                                " building sites & web applications ",
                                " from start to finish."
                            ]'>
                        </p>
                    </div>
                    {% include "navigations/navigation-landmark-bio.njk" %}
                    <br>
                    <el-button class="auto">
                        <a slot="button" class="el-btn el-btn-5" href="#schedule-phone-call">Schedule a Phone Call</a>
                    </el-button>
                </div>
            </el-column>
        </el-grid>
    </el-section>
</header>
{% include "forms/form-schedule.njk" %}

