<header>
    <el-section class="base-banner" background="{{ PagePathToBanner }}">
        <el-grid>
            <el-column grid="row">  
                <h1>
                    {{ title }}
                </h1>
            </el-column>  
        </el-grid>
    </el-section>
</header>