{% include "parts/head.njk" %}
    <body>
        {% include "navigations/navigation-home.njk" %}
        <header>
            <el-section id="about" padding-gap="8.25" background="var(--color-gradient)" color=var(--color-white)>
                <el-grid column=1>
                    <el-column attr="row" text-align="center">

                        <el-inline id="bio">  
                           
                            <br> 

                            <h2>
                                Hello, I'am Andrew Rico 
                            </h2>
                           
                            <svg fill="white"><use href="/_assets/media/svg/symbols.svg#address-book"></use></svg> 

                            <br> 

                       
                            <h3>
                                WEB DEVELOPER <br> UI/UX ENGINEER 
                            </h3>

                            <br> 

                            <span id="wrapper-typying">
                                <span id="typying" color=var(--color-primary)>
                                    messages...
                                </span> 
                            </span>

                            <br> 

                            <span id="bio-links">
                                <a href="/">LinkedIn</a> | <a href="/">Github</a> | <a href="/">Porfolio</a>
                            </span>

                            <br> 

                            <el-button>
                                <a slot="button" extended="button" theme=tertiary href="/">Get In Touch</a>
                            </el-button>

                        </el-inline>  
                    </el-column>
                </el-grid>
            </el-section>
        </header>
        <main> 
            {{ content | safe }} 
         </main>
        {% include "parts/footer.njk" %}
    </body>
    {% include "scripts/scriptsTagsHomepage.njk" %}
</html>
