---
PagePathToBanner: "radial-gradient(ellipse closest-side, #0f0e1680, #100e17), var(--color-tertiary)"
---
{% include "partials/partial-head.njk" %}
    {% include "navigations/navigation-page-homepage.njk" %}
        {% include "banners/banner-homepage.njk" %}
            <main id="homepage">
                {% block content %}
                    {{ content | safe }}
                {% endblock content %}
            </main>
        {% include "partials/partial-footer.njk" %}
    </body>
</html>