{% include "partials/partial-head.njk" %}
    <body>
        {% include "navigations/navigation-portfolio.njk" %}
        <header>
            <el-section id="about" padding-gap="10" background="#262626" color=var(--color-primary)>
                <el-grid columns=1>
                    <el-column attr="row" text-align="center">
                        <el-inline center=auto>  
                             <h1>
                                PORTFOLIO
                            </h1>
                        </el-inline>  
                    </el-column>
                </el-grid>
            </el-section>
        </header>
        <main>
            {{ content | safe }}
        </main>
        {% include "partials/partial-footer.njk" %}
    </body>
</html>
