---
PagePathToBanner: "radial-gradient(ellipse closest-side, #0f0e1680, #100e17), var(--color-tertiary)"
---
{% include "partials/partial-head.njk" %}
<body>
    {% include "navigations/navigation-home.njk" %}
    {% include "headers/header-homepage.njk" %}
    <div id="schedule-phone-call" class="modal-popup">
        <div class="modal-content">
            <a href="#about" title="CLOSE" class="backdrop-modal"></a>
            {% include "forms/form-scheduleCall.njk" %}
        </div>
    </div>
    <main>
        {% block content %}
            {{ content | safe }}
        {% endblock content %}
    </main>
    {% include "partials/partial-footer.njk" %}    
</body>
</html>