{% include "partials/partial-head.njk" %}
    <body>
        {% include "navigations/navigation-article.njk" %}
        {% include "banners/banner-base.njk" %}
        <main id="article-page"> 
            {% block content  %}
               {{ content | safe }}
            {% endblock content %}
        </main>
        {% include "partials/partial-footer.njk" %}
    </body>
</html> 