{% include "partials/partial-head.njk" %}
    {% include "navigations/navigation-page-contact.njk" %}
        {% include "banners/banner-base.njk" %}
        <main id="contact-page"> 
            {% block content  %}
               {{ content | safe }}
            {% endblock content %}
        </main>
        {% include "partials/partial-footer.njk" %}
    </body>
</html>