{% include "partials/partial-head.njk" %}

<link href="_assets/css/modules/_page-post.css" rel="stylesheet">

</head>

<el-loading background=var(--color-gradient)></el-loading>

    <body>
        {% include "navigations/navigation-post.njk" %}
        <main> 
            {% block content  %}
               {{ content | safe }}
            {% endblock content %}
        </main>
        {% include "partials/partial-footer.njk" %}
    </body>
</html> 