{% include "partials/partial-head.njk" %}
    <body>
        {% include "navigations/navigation-singlePost.njk" %}
        <main> 
            {% block content  %}
               {{ content | safe }}
            {% endblock content %}
            
        </main>
        {% include "partials/partial-footer.njk" %}
    </body>
    <script src="/_assets/js/thisel.beta.js"></script>
    <script src="/_assets/js/app.js"></script>
    <script src="/_assets/components/_drawer.js"></script>
</html> 