{% include "partials/partial-head.njk" %}
    <body>
        {% include "navigations/navigation-contact.njk" %}
        {% include "headers/header-banner.njk" %}
        <main> 
            {% block content  %}
               {{ content | safe }}
            {% endblock content %}
        </main>
        {% include "partials/partial-footer.njk" %}
    </body>
</html>