---
layout: "layouts/layout-project.njk"
title: "Single Project"
stylesheet: "/_assets/css/stylesheet.css"
fonts: "https://fonts.googleapis.com/css?family=Coda+Caption:800|Source+Code+Pro|Dancing+Script&display=swap"
---
<el-section id="projects" padding-gap=6>

    <el-grid id="situation" auto-fit="columns" grid-gap="1" gap="2" template-columns="3fr 1fr">
        <el-column attr=auto-fit columns="2" gutter="2">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
        </el-column>
        <el-column display="flex" flex-direction="column" justify-content="center">
            <h4>The Situation:</h4>
            <p>There is elem.matches(css) to check if elem matches the given CSS selector.There is elem.closest(css) to
                look for the nearest ancestor that matches the given CSS-selector. The elem itself is also checked.</p>
        </el-column>
    </el-grid>

    <el-grid id="problem" auto-fit="columns" grid-gap="1" gap="2" template-columns="3fr 1fr">
        <el-column attr=auto-fit columns="2" gutter="2">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
        </el-column>
           <el-column display="flex" flex-direction="column" justify-content="center">
            <h4>The Problem:</h4>
            <p>There is elem.matches(css) to check if elem matches the given CSS selector.There is elem.closest(css) to
                look for the nearest ancestor that matches the given CSS-selector. The elem itself is also checked.</p>
        </el-column>
    </el-grid>

    <el-grid id="approch" auto-fit="columns" grid-gap="1" gap="2" template-columns="3fr 1fr">
        <el-column attr=auto-fit columns="2" gutter="2">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
        </el-column>
          <el-column display="flex" flex-direction="column" justify-content="center">
            <h4>The Approch:</h4>
            <p>There is elem.matches(css) to check if elem matches the given CSS selector.There is elem.closest(css) to
                look for the nearest ancestor that matches the given CSS-selector. The elem itself is also checked.</p>
        </el-column>
    </el-grid>

    <el-grid id="solution" auto-fit="columns" grid-gap="1" gap="2" template-columns="3fr 1fr">
        <el-column attr=auto-fit columns="2" gutter="2">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
        </el-column>
        <el-column display="flex" flex-direction="column" justify-content="center">
            <h4>The Soution:</h4>
            <p>There is elem.matches(css) to check if elem matches the given CSS selector.There is elem.closest(css) to
                look for the nearest ancestor that matches the given CSS-selector. The elem itself is also checked.</p>
        </el-column>
    </el-grid>

    <el-grid id="conclution" auto-fit="columns" grid-gap="1" gap="2" template-columns="3fr 1fr">
        <el-column attr=auto-fit columns="2" gutter="2">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
        </el-column>
        <el-column display="flex" flex-direction="column" justify-content="center">
            <h4>The Conclution:</h4>
            <p>There is elem.matches(css) to check if elem matches the given CSS selector.There is elem.closest(css) to
                look for the nearest ancestor that matches the given CSS-selector. The elem itself is also checked.</p>
        </el-column>
    </el-grid>

</el-section>