<div id="submit-challenge" class="modal-popup">
    <div class="modal-content">
        <a href="#chanllenge" title="CLOSE" class="backdrop-modal"></a>
        <div class="netliform popup-form">
            <p id="error-messsge"></p>
            <h3>
                Form: Submit a Code Challenge
                <a href="#challenge" title="CLOSE" class="modal-icon-close">X</a>
            </h3>
            <form 
                id="andrewrico-submitChallenge-netlify" 
                name="andrewrico-submitChallenge-netlify" 
                method="POST" 
                action="/"
                data-netlify="true"
                data-netlify-recaptcha="true"
                >
                <fieldset class="fullwidth">
                    <label for="name">NAME</label>
                    <label>
                        <svg> <use href="/_assets/media/svg/sprites.svg#user"></use></svg>
                        <input type="text" id="name" name="name" placeholder="jhon due" aria-label="name" required />
                    </label>
                </fieldset>
                <fieldset>
                    <label for="selection">I'AM A</label>
                    <label>
                        <svg> <use href="/_assets/media/svg/sprites.svg#businessman"></use></svg>
                        <select id="selection" name="selection" aria-label="selection"  required>
                            <option value="">Select one</option>
                            <option value="Recruiter">Recruiter</option>
                            <option value="Employer">Employer </option>
                            <option value="Prospect">Prospect </option>
                        </select>
                    </label>
                </fieldset>
                <fieldset>
                    <label for="email">E-MAIL</label>
                    <label>
                        <svg> <use href="/_assets/media/svg/sprites.svg#mail"></use></svg>
                        <input type="email" id="email" name="email" placeholder="jhondue@mail.com" aria-label="email" required />
                    </label>
                </fieldset>
                <fieldset>
                    <label for="tel">PHONE</label>
                    <label>
                        <svg> <use href="/_assets/media/svg/sprites.svg#phone"></use></svg>
                        <input type="tel" id="tel" name="tel" placeholder="(555)-333-3333" aria-label="tel" required />
                    </label>
                </fieldset>

                <fieldset>
                    <label for="url">URL</label>
                    <label>
                        <svg> <use href="/_assets/media/svg/sprites.svg#www"></use></svg>
                        <input type="url" id="url" name="url" placeholder="https://www." aria-label="url"  required />
                    </label>
                </fieldset>

                <fieldset class="fullwidth">
                    <label for="message">MESSAGE</label>
                    <label>
                        <svg> <use href="/_assets/media/svg/sprites.svg#quill"></use></svg>
                        <input type="text" id="message" name="message" placeholder="In a few words, tell me about the rules"  aria-label="message" required/>
                    </label>
                </fieldset>

                <div data-netlify-recaptcha="true"></div>

                <el-button class="button-center">
                    <button type="submit" slot="button" extended="button" theme="quaternary">
                        Submit
                    </button>
                </el-button>
            </form>
        </div>
    </div>
</div>