<div id="schedule-phone-call" class="modal-popup">
        <div class="modal-content">
            <a href="#about" title="CLOSE" class="backdrop-modal"></a>
        <div class="netliform popup-form">
            <p id="error-messsage"></p>
            <h3>
                <span class="hiddenByUX"> Form: </span>
                Schedule a Phone Call        
                <a href="#about" title="CLOSE" class="modal-icon-close">X</a>
            </h3>
            <form 
                id="andrewrico-scheduleCall-netlify" 
                name="andrewrico-scheduleCall-netlify"
                method="POST" 
                action="/"
                data-netlify="true"
                data-netlify-recaptcha="true" 
                >
                    <div class="field">
                        <label for="nameCall">NAME</label>
                        <div>
                            <svg> <use href="/_assets/media/svg/sprites.svg#user"></use></svg>
                            <input type="text" id="nameCall" name="nameCall" placeholder="jhon due" aria-label="name" required />
                        </div>
                    </div>
                    <div class="field">
                        <label for="emailCall">E-MAIL</label>
                        <div>
                            <svg> <use href="/_assets/media/svg/sprites.svg#mail"></use></svg>
                            <input type="email" id="emailCall" name="emailCall" placeholder="jhondue@mail.com" aria-label="email" required />
                        </div>
                    </div>
                    <div class="field">
                        <label for="telCall">PHONE</label>
                        <div>
                            <svg> <use href="/_assets/media/svg/sprites.svg#phone"></use></svg>
                            <input type="tel" id="telCall" nametelCalltel" placeholder="(555)-333-3333" aria-label="tel" required />
                        </div>
                    </div>
                    <div class="field">
                        <label for="urlCall">URL</label>
                        <div>
                            <svg> <use href="/_assets/media/svg/sprites.svg#www"></use></svg>
                            <input type="text" id="urlCall" id="urlCall" name="urlCall" placeholder="https://www." aria-label="url" required />
                        </div>
                    </div>
                    <div class="field">
                        <label for="timeCall">TIME</label>
                        <div>
                            <svg> <use href="/_assets/media/svg/sprites.svg#clock"></use></svg>
                            <input type="time" id="timeCall" name="timeCall" aria-label="phone" required />
                        </div>
                    </div>
                    <div class="field">
                        <label for="dateCall">DATE</label>
                        <div>
                            <svg><use href="/_assets/media/svg/sprites.svg#calendar"></use></svg>
                            <input type="date" id="dateCall" name="dateCall" aria-label="date" required />
                        </div>
                    </div>
                    <div class="field fullwidth">
                        <label for="messageCall">MESSAGE</label>
                        <div>
                            <svg> <use href="/_assets/media/svg/sprites.svg#quill"></use></svg>
                            <input type="text" id="message" name="message" placeholder="In a few words, tell me about your inquiry" aria-label="message" required />
                        </div>
                    </div>
                <el-button class="auto">
                    <button type="submit" slot="button" class="el-btn el-btn-4">
                        SCHEDULE
                    </button>
                </el-button>
            </form>
        </div>
     </div>
</div>


