<div class="netliform simple-form sendMesseage-form">
    <h3>
       <span class="hiddenByUX"> Form </span>
        Send me a message
        <svg style="margin:0 16px;" width="48" height="48" fill="var(--color-quaternary)"><use href="/_assets/media/svg/sprites.svg#form-pencil"></use></svg>
    </h3>
    <form 
        id="andrewrico-message-netliId-56" 
        name="andrewrico-message-netliId-56" 
        method="POST"
        data-netlify="true"
        >
        <div class="form-field">
            <label for="netliId-56-name">NAME</label>
            <div class="field-group">
                <svg> <use href="/_assets/media/svg/sprites.svg#user"></use></svg>
                <input type="text" id="netliId-56-name" name="netliId-56-name" placeholder="jhon due" aria-label="name" required />
            </div>
        </div>
        <div class="form-field">
            <label for="netliId-56-email">E-MAIL</label>
            <div class="field-group">
                <svg> <use href="/_assets/media/svg/sprites.svg#mail"></use></svg>
                <input type="email" id="netliId-56-email" name="netliId-56-email" placeholder="jhondue@mail.com" aria-label="email" required />
            </div>
        </div>
        <div class="form-field">
            <label for="netliId-56-phone">PHONE</label>
            <div class="field-group">
                <svg> <use href="/_assets/media/svg/sprites.svg#phone"></use></svg>
                <input type="tel" id="netliId-56-phone" name="netliId-56-phone" placeholder="(565)-333-3333" aria-label="tel" required />
            </div>
        </div>
        <div class="form-field fullwidth">
            <label for="netliId-56-message">MESSAGE</label>
            <div class="field-group">
                <svg> <use href="/_assets/media/svg/sprites.svg#quill"></use></svg>
                <input type="text" id="netliId-56-message" name="netliId-56-message" placeholder="In a few words, tell me about your inquiry" aria-label="message" required />
            </div>
        </div>
        <el-button class="auto">
            <button type="submit" slot="button" class="el-btn el-btn-5">
                Send Message
            </button>
        </el-button>
    </form>
</div>