<div class="netliform subscriber-form">
    {# <p id="error"></p> #}
     <h3>
       <span class="hiddenByUX"> Form: </span>
        Newslatters       
        <svg style="margin:0 16px;" width="48" height="48"><use href="/_assets/media/svg/sprites.svg#form-pencil"></use></svg>
    </h3>
    <form 
        id="andrewrico-subscribe-netlify" 
        name="andrewrico-subscribe-netlify" 
        method="POST" 
        action="/" 
        data-netlify="true"
        data-netlify-recaptcha="true"
        >
        <fieldset>
            <label for="email">E-MAIL</label>
            <label>
                <svg> <use href="/_assets/media/svg/sprites.svg#mail"></use></svg>
                <input type="email" id="email" name="email" placeholder="jhondue@mail.com" aria-label="email" required/>
            </label>
        </fieldset>
        <el-button class="button-center">
            <button type="submit" slot="button" class="el-btn">
                SUBSCRIBRE 
            </button>
        </el-button>
    </form>
</div>