<div id="schedule-phone-call" class="modal-popup">
    <div class="modal-content">
        <a href="#about" title="CLOSE" class="backdrop-modal"></a>
        <div class="netliform popup-form">
            <h3>
                Schedule a Phone Call
                <a href="#about" title="CLOSE" class="modal-icon-close">X</a>
            </h3>
            <form id="andrewrico-schedule-netliId-55" 
                name="andrewricos-schedule-netliId-55"
                method="POST" 
                data-netlify="true"
                >
                <div class="form-field">
                    <label for="netliId-55-name">NAME</label>
                    <div class="field-group">
                        <svg> <use href="/_assets/media/svg/sprites.svg#user"></use></svg>
                        <input type="text" id="netliId-55-name" name="netliId-55-name" placeholder="jhon due" aria-label="name" required />
                    </div>
                </div>
                <div class="form-field">
                    <label for="netliId-55-email">E-MAIL</label>
                    <div class="field-group">
                        <svg> <use href="/_assets/media/svg/sprites.svg#mail"></use></svg>
                        <input type="email" id="netliId-55-email" name="netliId-55-email" placeholder="jhondue@mail.com" aria-label="email" required />
                    </div>
                </div>
                <div class="form-field">
                    <label for="netliId-55-phone">PHONE</label>
                    <div class="field-group">
                        <svg> <use href="/_assets/media/svg/sprites.svg#phone"></use></svg>
                        <input type="tel" id="netliId-55-phone" name="netliId-55-phone" placeholder="(555)-333-3333" aria-label="tel" required />
                    </div>
                </div>
                <div class="form-field">
                    <label for="netliId-55-url">URL</label>
                    <div class="field-group">
                        <svg> <use href="/_assets/media/svg/sprites.svg#www"></use></svg>
                        <input type="text" id="netliId-55-url" name="netliId-55-url" placeholder="https://www." aria-label="url" required />
                    </div>
                </div>
                <div class="form-field">
                    <label for="netliId-55-time">TIME</label>
                    <div class="field-group">
                        <svg> <use href="/_assets/media/svg/sprites.svg#clock"></use></svg>
                        <input type="text" id="netliId-55-time" name="netliId-55-time" placeholder="9:30 am" aria-label="phone" required />
                    </div>
                </div>
                <div class="form-field">
                    <label for="netliId-55-date">DATE</label>
                    <div class="field-group">
                        <svg><use href="/_assets/media/svg/sprites.svg#calendar"></use></svg>
                        <input type="text" id="netliId-55-date" name="netliId-55-date" placeholder="01/Jan/2020" aria-label="date" required />
                    </div>
                </div>
                <div class="form-field fullwidth">
                    <label for="netliId-55-message">MESSAGE</label>
                    <div class="field-group">
                        <svg> <use href="/_assets/media/svg/sprites.svg#quill"></use></svg>
                        <input type="text" id="netliId-55-message" name="netliId-55-message" placeholder="In a few words, tell me about your inquiry" aria-label="message" required />
                    </div>
                </div>
                <el-button class="auto">
                    <button type="submit" slot="button" class="el-btn el-btn-4">
                        SCHEDULE
                    </button>
                </el-button>
            </form>
        </div>
    </div>
</div>


