<div class="netliform subscriber-form">
     <h3>
       <span class="hiddenByUX"> Form: </span>
        Newslatters       
    </h3>
    <form 
        id="andrewrico-subscribe-netliId-59" 
        name="andrewrico-subscribe-netliId-59" 
        method="POST" 
        data-netlify="true"
        >
        <div class="form-field">
            <label for="netliId-59-email">E-MAIL</label>
            <div class="field-group">
                <svg> <use href="/_assets/media/svg/sprites.svg#mail"></use></svg>
                <input type="email" id="netliId-59-email" name="netliId-59-email" placeholder="jhondue@mail.com" aria-label="email" required/>
            </div>
        </div>
        <el-button class="auto">
            <button type="submit" slot="button" class="el-btn">
                SUBSCRIBRE 
            </button>
        </el-button>
    </form>
</div>