 <el-drawer site="Andrew Rico">
    {% include "navigations/navigation-landmark-drawer.njk" %}
    <ul slot="navbar-menu" class="menu-navbar">
        <li>
            <a href="#Javascript">
                Javascript
            </a>
        </li>
        <li>
            <a href="#Wordpress">
                Wordpress
            </a>
        </li>
        <li>
            <a href="#UIUX">
                UI/UX
            </a>
        </li>
        <li>
            <a href="#HTMLCSS">
                HTML/CSS
            </a>
        </li>
    </ul>
    <el-dropdown slot="mobil-menu" id="mobil-menu">
        <ul slot="dropdown">
            <li>
                <a href="#Javascript">
                    Javascript
                </a>
            </li>
            <li>
                <a href="#Wordpress">
                    Wordpress
                </a>
            </li>
            <li>
                <a href="#UIUX">
                    UI/UX
                </a>
            </li>
            <li>
                <a href="#HTMLCSS">
                    HTML/CSS
                </a>
            </li>
        </ul>
    </el-dropdown>
</el-drawer>