<nav class="navigation-social-icons" aria-labelledby="accesible-sin">
    <h3 id="accesible-sin"> Navigation Menu | Social Icons </h3>
    <ul>
        <li>
            <a href="{{ site.author.email }}" target="_blank" rel="noopener" aria-label="link to foward email to andrews rico directly">
                <svg><use href="/_assets/media/svg/sprites.svg#mail"></use></svg>  
            </a>
        </li>
        <li>
            <a href="{{ site.author.linkedin }}" target="_blank" rel="noopener" aria-label="link to linkedin andrew's rico profile">
                <svg><use href="/_assets/media/svg/sprites.svg#linkedin"></use></svg> 
            </a>
        <li>
            <a href="{{ site.author.github }}" target="_blank" rel="noopener" aria-label="link to github andrew's rico profile">
                <svg><use href="/_assets/media/svg/sprites.svg#github"></use></svg> 
            </a>
        </li>
        <li>
            <a href="{{ site.author.codepen }}" target="_blank" rel="noopener" aria-label="link to codepen andrew's rico profile">
                <svg><use href="/_assets/media/svg/sprites.svg#codepen"></use></svg> 
            </a>
        </li>
        <li>
            <a href="{{ site.author.stackoverflow }}" target="_blank" rel="noopener" aria-label="link to stackoverflow andrew's rico profile">
                <svg><use href="/_assets/media/svg/sprites.svg#Stackoverflow"></use></svg> 
            </a>
        </li>
        <li>
            <a href="{{ site.author.dribble }}" target="_blank" rel="noopener" aria-label="link to stackoverflow andrew's rico profile">
                <svg><use href="/_assets/media/svg/sprites.svg#dribble"></use></svg> 
            </a>
        </li>
    </ul>
</nav>