<el-drawer>

    {% include "navigations/navigation-brand.njk" %}

    {% include "navigations/navigation-drawer.njk" %}

    <ul slot="navbar-menu" class="menu-navbar">
        <li>
            <a href="#situation">
                 Situation
            </a>
        </li>
        <li>
            <a href="#problem">
                 Problem
            </a>
        </li>
        <li>
            <a href="#approch">
                 Approch
            </a>
        </li>
        <li>
            <a href="#solution">
                 Solution
            </a>
        </li>
        <li>
            <a href="#conclution">
                 Conslution
            </a>
        </li>
    </ul>

    <el-dropdown slot="mobil-menu" id="mobil-menu">
        <ul slot="dropdown">
            <li>
                <a href="#situation">
                     Situation
                </a>
            </li>
            <li>
                <a href="#problem">
                     Problem
                </a>
            </li>
            <li>
                <a href="#approch">
                     Approch
                </a>
            </li>
            <li>
                <a href="#solution">
                     Solution
                </a>
            </li>
            <li>
                <a href="#conclution">
                     Conslution
                </a>
            </li>
        </ul>
    </el-dropdown>

</el-drawer>