<nav class="navigation-social-icons" aria-labelledby="navigation-social-icons-accesible-label">
    <h6 id="navigation-social-icons-accesible-label">This is the navigation component for the social icons</h6>
    <ul>
        <li>
            <a href="{{ site.author.email }}" target="_blank" rel="noopener" aria-label="link to foward email to andrews rico directly">
                <svg><use href="/_assets/media/svg/sprites.svg#mail"></use></svg>  
            </a>
        </li>
        <li>
            <a href="{{ site.author.linkedin }}" target="_blank" rel="noopener" aria-label="link to linkedin andrew's rico profile">
                <svg><use href="/_assets/media/svg/sprites.svg#linkedin"></use></svg> 
            </a>
        <li>
            <a href="{{ site.author.github }}" target="_blank" rel="noopener" aria-label="link to github andrew's rico profile">
                <svg><use href="/_assets/media/svg/sprites.svg#github"></use></svg> 
            </a>
        </li>
        <li>
            <a href="{{ site.author.email }}" target="_blank" rel="noopener" aria-label="link to codepen andrew's rico profile">
                <svg><use href="/_assets/media/svg/sprites.svg#codepen"></use></svg> 
            </a>
        </li>
        <li>
            <a href="{{ site.author.email }}" target="_blank" rel="noopener" aria-label="link to stackoverflow andrew's rico profile">
                <svg><use href="/_assets/media/svg/sprites.svg#Stackoverflow"></use></svg> 
            </a>
        </li>
    </ul>
</nav>