<el-drawer>

{% include "navigations/brand.njk" %}

{% include "navigations/drawer.njk" %}

<ul slot="navbar-menu" class="menu-navbar">
    <li>
        <a href="/contact">
            <span class="drawered">Get In Touch</span>
        </a>
    </li>
</ul>

</el-drawer>