<nav id="navigation-panel" aria-labelledby="accesible-spn">
<h3 id="accesible-spn"> Navigation Menu | Side Panel </h3>
<ul>
    {# <li>
        <a href="/" aria-label="link to andrew's rico homepage">
            <svg>
                <use href="/_assets/media/svg/sprites.svg#icon-home"></use>
            </svg>
            <span class="tooltip"><span>HOMEPAGE</span></span>
        </a>
    </li>
    <li>
        <a href="/portfolio" aria-label="link to andrew's rico portfolio page">
            <svg>
                <use href="/_assets/media/svg/sprites.svg#icon-portfolio"></use>
            </svg>
            <span class="tooltip"><span>PORTFOLIO</span></span>
        </a>
    </li>
    <li>
        <a href="/blog" aria-label="link to andrew's rico blog page">
            <svg>
                <use href="/_assets/media/svg/sprites.svg#icon-blog"></use>
            </svg>
            <span class="tooltip"><span>BLOG</span></span>
        </a>
    </li>
    <li>
        <a href="/contact" aria-label="link to andrew's rico contact page">
            <svg>
                <use href="/_assets/media/svg/sprites.svg#icon-contact"></use>
            </svg>
            <span class="tooltip"><span>CONTACT</span></span>
        </a>
    </li> #}
    <li>
        <a href="#" aria-label="scroll up to top of the window button">
            <svg>
                <use href="/_assets/media/svg/sprites.svg#arrowUp"></use>
            </svg>
            <span class="tooltip"><span>SCROLL UP</span></span>
        </a>
    </li>
</ul>
</nav>