 <el-drawer site="Andrew Rico">
    {% include "navigations/navigation-drawer.njk" %}
    <nav slot="navbar-menu"> 
        <ul class="menu-navbar">
            <li>
                <el-button>
                    <a slot="button" class="el-btn" href="/contact"> Get In Touch </a>
                </el-button>
            </li>
        </ul>
    </nav>
    <el-dropdown slot="mobil-menu" id="mobil-menu">
        <nav slot="dropdown">
            <ul>
                <li>
                    <a href="/contact"> Get In Touch  </a>
                </li>
            </ul>
        </nav>
    </el-dropdown>
</el-drawer>