<el-drawer>
    {% include "navigations/navigation-drawer.njk" %}
    <nav slot="navbar-menu">
        <ul class="menu-navbar">
            <li>
                <a href="#Javascript">
                    Javascript
                </a>
            </li>
            <li>
                <a href="#Wordpress">
                    Wordpress
                </a>
            </li>
            <li>
                <a href="#UIUX">
                    UI/UX
                </a>
            </li>
            <li>
                <a href="#HTMLCSS">
                    HTML/CSS
                </a>
            </li>
        </ul>
    </nav>
    <el-dropdown slot="mobil-menu" id="mobil-menu">
        <nav slot="dropdown">
            <ul>
                <li>
                    <a href="#Javascript">
                        Javascript
                    </a>
                </li>
                <li>
                    <a href="#Wordpress">
                        Wordpress
                    </a>
                </li>
                <li>
                    <a href="#UIUX">
                        UI/UX
                    </a>
                </li>
                <li>
                    <a href="#HTMLCSS">
                        HTML/CSS
                    </a>
                </li>
            </ul>
        </nav>
    </el-dropdown>
</el-drawer>