<nav class="drawer-menu" slot="drawer-menu">
    <b class="h3 hiddenByUX">Brand</b>
    <ul>
        <li>
            <a href="/">
                <span>
                    <svg><use href="/_assets/media/svg/sprites.svg#icon-home"></use></svg> 
                    Home
                </span>
            </a>
        </li>
        <li>
            <a href="/portfolio">
                <span>
                    <svg><use href="/_assets/media/svg/sprites.svg#icon-portfolio"></use></svg> 
                    Portfolio
                </span>
            </a>
        </li>
    </ul>

    <hr><b class="h3">Sources</b>
    <ul>
        <li>
            <a href="/blog">
                <span>
                    <svg><use href="/_assets/media/svg/sprites.svg#icon-blog"></use></svg> 
                    Blog
                </span>
            </a>
        </li>
    </ul>

    <hr><b class="h3">Contact</b>
    <ul>
        <li>
            <a href="{{ global.linkedin }}" target="_blank" rel="noopener">
                <span>
                    <svg><use href="/_assets/media/svg/sprites.svg#linkedin"></use></svg> 
                    LinkedIn
                </span>
            </a>
        </li>
        <li>
            <a href="{{ global.github }}" target="_blank" rel="noopener">
                <span>
                    <svg><use href="/_assets/media/svg/sprites.svg#github"></use></svg> 
                    Github
                </span>
            </a>
        </li>
        <li>
            <a href="/contact">
                <span>
                    <svg><use href="/_assets/media/svg/sprites.svg#icon-contact"></use></svg>  
                    Get In Touch
                </span>
            </a>
        </li>
    </ul>
</nav>
