<div slot="drawer-menu">
    <ul class="menu-drawer">
        <li>
            <a href="/">
                <span class="drawered">
                    <svg><use href="/_assets/components/_drawer.svg#home"></use></svg> 
                    Home
                </span>
            </a>
        </li>
        <li>
            <a href="/portfolio">
                <span class="drawered">
                    <svg><use href="/_assets/components/_drawer.svg#lookInFolder"></use></svg> 
                    Portfolio
                </span>
            </a>
        </li>
    </ul><hr>

    <h3 class="drawered">Sources</h3>
    <ul class="menu-drawer">
        <li>
            <a href="/blog">
                <span class="drawered">
                    <svg><use href="/_assets/components/_drawer.svg#fileInFolder"></use></svg> 
                    Blog
                </span>
            </a>
        </li>
        {# <li>
            <a href="/templates">
                <span class="drawered">
                    <svg><use href="/_assets/components/_drawer.svg#templates"></use></svg>  
                    Templates
                </span>
            </a>
        </li>
        <li>
            <a href="/snippets">
                <span class="drawered">
                    <svg><use href="/_assets/components/_drawer.svg#apis"></use></svg> 
                    Code Snippets 
                </span>
            </a>
        </li> #}
    </ul><hr>

    <h3 class="drawered">Contact</h3>
    <ul class="menu-drawer">
        <li>
            <a href="https://www.linkedin.com/in/andrewrico-/" target="_blank">
                <span class="drawered">
                    <svg><use href="/_assets/components/_drawer.svg#linkedin"></use></svg> 
                    LinkedIn
                </span>
            </a>
        </li>
        <li>
            <a href="https://github.com/Andrewrico" target="_blank">
                <span class="drawered">
                    <svg><use href="/_assets/components/_drawer.svg#github"></use></svg> 
                    Github
                </span>
            </a>
        </li>
        <li>
            <a href="/contact">
                <span class="drawered">
                    <svg><use href="/_assets/components/_drawer.svg#contact"></use></svg>  
                    Get In Touch
                </span>
            </a>
        </li>
    </ul>
</div>