<el-drawer>
    {% include "navigations/navigation-drawer.njk" %}
    <nav slot="navbar-menu">
        <ul class="menu-navbar">
            <li>
                <a href="#case-study">
                    Case Study
                </a>
            </li>
            <li>
                <a href="#situation">
                    Situation
                </a>
            </li>
            <li>
                <a href="#approach">
                    Approach
                </a>
            </li>
            <li>
                <a href="#conclution">
                    Conslution
                </a>
            </li>
        </ul>
    </nav>
    <el-dropdown slot="mobil-menu" id="mobil-menu">
        <nav slot="dropdown">
            <ul>
                <li>
                    <a href="#case-study">
                        Case Study
                    </a>
                </li>
                <li>
                    <a href="#situation">
                        Situation
                    </a>
                </li>
                <li>
                    <a href="#approach">
                        Approach
                    </a>
                </li>
                <li>
                    <a href="#conclution">
                        Conslution
                    </a>
                </li>
            </ul>
        </nav>
    </el-dropdown>
</el-drawer>