<el-drawer>
	{% include "navigations/navigation-drawer.njk" %}
	<ul slot="navbar-menu" class="menu-navbar">
		<li>
			<a href="#about">
				About
			</a>
		</li>
		<li>
			<a href="#skills">
				Skills
			</a>
		</li>
		<li>
			<a href="#projects">
				Projects
			</a>
		</li>
		<li>
			<a href="#challenge">
				Code Challenges
			</a>
		</li>
		<li>
			<a href="#articles">
				Articles
			</a>
		</li>
		<li>
			<a href="#contact">
				Contact
			</a>
		</li>
	</ul>
	<el-dropdown slot="mobil-menu" id="mobil-menu">
		<ul slot="dropdown">
			<li>
				<a href="#about">
					About
				</a>
			</li>
			<li>
				<a href="#skills">
					Skills
				</a>
			</li>
			<li>
				<a href="#projects">
					Projects
				</a>
			</li>
			<li>
				<a href="#challenge">
					Code Challenges
				</a>
			</li>
			<li>
				<a href="#articles">
					Articles
				</a>
			</li>
			<li>
				<a href="#contact">
					Contact
				</a>
			</li>
		</ul>
	</el-dropdown>
</el-drawer>