---
layout: "layouts/layout-blog.njk"
title: "Blog"
stylesheet: "/_assets/css/stylesheet.css"
fonts: "https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro|Coda+Caption:800|Dancing+Script&display=swap"
---
<el-section id="blog-page" class="blog-article-entries" padding-gap=10 background="#fff">
    <el-grid pixel-width="768" columns="1">
        <el-column attr="row">
            <el-inline id="blog-bio">
                <img src="/_assets/media/images/placeholder.png" alt="placeholder">
                <h1>Andrew Rico</h1>
                <h3>UX designer and educational psychology, music, & art fan. Keeps up with her dog's Instagram fans @dgtrwatson.</h3>
                <a href="/">iure beatae dolorum? </a>
            </el-inline>
            <ul>
                <li>
                    <article class="card-article">
                        <h2>Making it easier to start with Gatsby Cloud for free</h2>
                        <p>When you go to our Quickstart page to try Gatsby Cloud, you’ll probably find yourself in one of two situations. 
                        you go to our Quickstart page to try Gatsby Cloud, you’ll probably find yourself in one of two situations.</p>
                        <a href="/post">@andrwrico86</a>
                    </article>
                </li>
                <li>
                    <article class="card-article">
                        <h2>Making it easier to start with Gatsby Cloud for free</h2>
                        <p>When you go to our Quickstart page to try Gatsby Cloud, you’ll probably find yourself in one of two situations. 
                        you go to our Quickstart page to try Gatsby Cloud, you’ll probably find yourself in one of two situations.</p>
                        <a href="/post">@andrwrico86</a>
                    </article>
                </li>
                <li>
                    <article class="card-article">
                        <h2>Making it easier to start with Gatsby Cloud for free</h2>
                        <p>When you go to our Quickstart page to try Gatsby Cloud, you’ll probably find yourself in one of two situations. 
                            you go to our Quickstart page to try Gatsby Cloud, you’ll probably find yourself in one of two situations.</p>
                        <a href="/post">@andrwrico86</a>
                    </article>
                </li>
            </ul>
        </el-column>
    </el-grid>
</el-section>