---
title: "Home"
description: "This is the Homepage"
layout: "layouts/layout-homepage.njk"
---
<el-section id="skills">
    <el-grid columns="3">
        <el-column grid="row">
            <h2>Skills</h2>
        </el-column>
        {%- for skill in collections.skills -%}
        <el-column>
            <figure class="card-progress {{skill.data.skills}}">
                <label for="skill">
                    <h4> {{ skill.data.title }} </h4>
                        <svg>
                            <use href="{{skill.data.svgPath}}"></use>
                        </svg>
                </label>
                <progress name="skill" class="progress" value="{{skill.data.percentage}}" max="100"></progress>
                <figcaption>
                    {% excerpt skill %}
                </figcaption>
            </figure>
        </el-column>
        {%- endfor -%}
        {%- for otherskill in collections.otherskills -%}
        <el-column>
            <figure class="card-progress {{otherskill.data.otherskillsClass}}">
                <label for="otherskill">
                    <h4> {{ otherskill.data.title }} </h4>
                        <svg>
                            <use href="{{otherskill.data.svgPath}}"></use>
                        </svg>
                </label>
                <progress name="otherskill" class="progress" value="{{otherskill.data.percentage}}" max="100"></progress>
                <figcaption>
                    {% excerpt otherskill %}
                </figcaption>
            </figure>
        </el-column>
        {%- endfor -%}
    </el-grid>
</el-section>

<el-section id="projects">
    <el-grid columns="3">
        <el-column grid="row">
            <h2>Recent Projects</h2>
        </el-column>
        {%- for project in collections.projects -%}
        <el-column>
            <figure class="card-minimal">
                <img src="{{ project.data.ProjectPathToImage }}" alt="{{ project.data.ProjectImageMeta}}">
                <figcaption>
                    <h3>{{ project.data.title }}</h3>
                    <h4 class="minimal-tags">
                        <span>{{ project.data.ProjectStringCathegory }}</span>
                        <span>{{ project.data.ProjectStringType }}</span>
                    </h4>
                    <h4 class="minimal-subtitle">
                        <svg> <use href="/_assets/media/svg/sprites.svg#commmas"></use></svg>
                        {{ project.data.ProjectStringMade }}
                    </h4>
                </figcaption>
                <ul>
                    <li>
                        <a href="{{ project.data.ProjectLinkToDemo }}" aria-label="live site project link">
                            <svg> <use href="/_assets/media/svg/sprites.svg#earth"></use></svg>
                        </a> LIVE SITE
                    </li>
                    <li>
                        <a href="{{ project.data.ProjectLinkToCode }}" aria-label="show me the project link">
                            <svg> <use href="/_assets/media/svg/sprites.svg#github"></use> </svg>
                        </a> SHOW ME THE CODE
                    </li>
                    <li>
                        <a href="{{ project.url | url }}" aria-label="case study project link">
                            <svg><use href="/_assets/media/svg/sprites.svg#timeline"></use></svg>
                        </a> CASE STUDY
                    </li>
                </ul>
            </figure>
        </el-column>
        {% endfor %}
    </el-grid>
</el-section>

<el-section id="challenge">
    <el-grid columns="2">
        <el-column grid="row">
            <h2>Code Challenges</h2>
        </el-column>
        {%- for challenges in collections.challenge -%}
        <el-column>
            <figure class="card-action card-ckecked">
                <p class="action-number">1</p>
                <div class="action-header">
                    <svg width="56" height="56" fill="var(--color-secondary)">
                        <use href="_assets/media/svg/sprites.svg#success"></use>
                    </svg>
                </div>
                <figcaption class="action-content">
                    <h4>{{ challenges.data.title }}</h4>
                </figcaption>
                <div class="action-footer">
                    <p>
                        <span>Started:</span>{{ challenges.data.started }}<br>
                        <span>Ended:</span>{{ challenges.data.ended }}
                    </p>
                    <el-button>
                        <a slot="button" extended="button" theme="primary" href="{{ challenges.data.url }}" rel="noopener"> See Results</a>
                    </el-button>
                </div>
            </figure>
        </el-column>
        {%- endfor -%}
        {%- for challenges in collections.open -%}
        <el-column>
            <figure class="card-action">
                <p class="action-number">2</p>
                <div class="action-header">
                    <svg width="56" height="56" fill="var(--color-light)">
                        <use href="_assets/media/svg/sprites.svg#alert"></use>
                    </svg>
                </div>
                <figcaption class="action-content">
                    <p>Submit a Code Chanllenge only if you are a:</p>
                    <ol>
                        <li><svg width="56" height="56" fill="var(--color-light)"> <use href="_assets/media/svg/sprites.svg#searching-person"></use></svg>
                            <span> Recruiter </span ><p>looking to hire a developer.</p>
                        </li>
                        <li><svg width="56" height="56" fill="var(--color-light)"> <use href="_assets/media/svg/sprites.svg#contract"></use></svg>
                            <span> Employer </span>  <p>who wants to test my skills.</p>
                        </li>
                        <li><svg width="56" height="56" fill="var(--color-light)"> <use href="_assets/media/svg/sprites.svg#handshake"></use></svg>
                            <span> Propest </span> <p>who wants to build a project.</p>
                        </li>
                    </ol>
                </figcaption>
                <div class="action-footer">
                    <el-button>
                        <a slot="button" extended="button" theme="secondary" href="#submit-challenge">Submit </a>
                    </el-button>
                </div>
            </figure> 
        </el-column>
        {%- endfor -%}
    </el-grid>
    {% include "forms/form-submitChallenge.njk" %}
</el-section>

<el-section id="articles" >
    <el-grid columns="2">
        <el-column grid="row">
            <h2>Recent Articles</h2>
        </el-column>
        <el-column grid="row" max-width="768px" center="auto">
            <ul>
                {%- for article in collections.article -%}
                    <li>
                        <article class="card-article">
                            <time datetime="{{ article.date | dateIso }}">{{ article.date | dateReadable }}</time><br><br>
                            <h2> {{ article.data.title }} </h2>
                            {% excerpt article %}
                            <el-button class="button-center">
                                <a slot="button" extended="button" theme="quaternary" href="{{ article.url | url }}">Read more</a>
                            </el-button>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </el-column>
    </el-grid>
</el-section>

<el-section id="contact">
    <el-grid columns="2">
        <el-column grid="row">
            <h2>Contact Me</h2>
        </el-column>
        <el-column>
            <iframe 
                title="Andrew's Rico current location"
                rel="preconnect"
                frameborder="0" 
                style="border:0;" 
                allowfullscreen=""  
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d119613.34798108297!2d-80.2624127479914!3d26.09798276038886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1574782225997!5m2!1sen!2sus">
            </iframe>
        </el-column>
        <el-column>
            {% include "forms/form-sendMessage.njk" %}
        </el-column>
    </el-grid>
</el-section>


