---
title: "Home"
description: "Home Page"
keywords: "Web Developer"
tags:
- page
changefreq: weekly
priority: 1

layout: "layouts/layout-homepage.njk"
---
<el-section id="skills">
    <el-grid columns="3">
        <el-column grid="row">
            <h2>Skills</h2>
        </el-column>
        {%- for skill in collections.skills -%}
        <el-column>
            <div class="card-progress {{skill.data.skills}}">
                <div>
                    <h3> {{ skill.data.title }} </h3>
                    <svg>
                        <use href="{{skill.data.svgPath}}"></use>
                    </svg>
                </div>
                <progress class="progress" value="{{skill.data.percentage}}" max="100"></progress>
                <p>{% excerpt skill %}</p>
            </div>
        </el-column>
        {%- endfor -%}
        {%- for otherskill in collections.otherskills -%}
        <el-column>
            <div class="card-progress {{otherskill.data.otherskillsClass}}">
                <div>
                    <h3> {{ otherskill.data.title }} </h3>
                    <svg>
                        <use href="{{otherskill.data.svgPath}}"></use>
                    </svg>
                </div>
                <progress class="progress" value="{{otherskill.data.percentage}}" max="100"></progress>
                <p>{% excerpt otherskill %}</p>
            </div>
        </el-column>
        {%- endfor -%}
    </el-grid>
</el-section>

<el-section id="projects">
    <el-grid columns="3">
        <el-column grid="row">
            <h2>Recent Projects</h2>
        </el-column>
        {%- for project in collections.projects -%}
        <el-column>
            <div class="card-minimal">
                <img src="{{ project.data.ProjectPathToImage }}" alt="{{ project.data.ProjectImageMeta}}">
                <div>
                    <h3>{{ project.data.title }}</h3>
                    <h4 class="minimal-tags">
                        <span>{{ project.data.ProjectStringCathegory }}</span>
                        <span>{{ project.data.ProjectStringType }}</span>
                    </h4>
                    <h4 class="minimal-subtitle">
                        <svg> <use href="/_assets/media/svg/sprites.svg#commmas"></use></svg>
                        {{ project.data.ProjectStringMade }}
                    </h4>
                </div>
                <ul>
                    <li>
                        <a href="{{ project.data.ProjectLinkToDemo }}" target="_blank" aria-label="live site project link" rel="noopener">
                            <svg> <use href="/_assets/media/svg/sprites.svg#earth"></use></svg>
                        </a> LIVE SITE
                    </li>
                    <li>
                        <a href="{{ project.data.ProjectLinkToCode }}" target="_blank" aria-label="show me the project link" rel="noopener">
                            <svg> <use href="/_assets/media/svg/sprites.svg#github"></use> </svg>
                        </a> SHOW ME THE CODE
                    </li>
                    <li>
                        <a href="{{ project.url | url }}" aria-label="case study project link">
                            <svg><use href="/_assets/media/svg/sprites.svg#timeline"></use></svg>
                        </a> CASE STUDY
                    </li>
                </ul>
            </div>
        </el-column>
        {% endfor %}
    </el-grid>
</el-section>

<el-section id="challenge">
    <el-grid columns="2">
        <el-column grid="row">
            <h2>Code Challenges</h2>
        </el-column>
        {%- for challenges in collections.challenge -%}
        <el-column>
            <div class="card-action card-ckecked">
                <div class="action-header">
                    <svg width="56" height="56" fill="var(--color-secondary)">
                        <use href="_assets/media/svg/sprites.svg#success"></use>
                    </svg>
                    <p class="action-number">1</p>
                </div>
                <div class="action-content">
                    <h3>{{ challenges.data.title }}</h3>
                </div>
                <div class="action-footer">
                    <p>
                        <span>Started: </span> {{ challenges.data.started }}<br>
                        <span>Ended: </span> {{ challenges.data.ended }}
                    </p>
                    <el-button>
                        <a slot="button" class="el-btn el-btn-1" href="{{ challenges.data.url }}" rel="noopener" target="_blank"> See Results</a>
                    </el-button>
                </div>
            </div>
        </el-column>
        {%- endfor -%}
        {%- for challenges in collections.open -%}
        <el-column>
            <div class="card-action">
                <div class="action-header">
                    <svg width="56" height="56" fill="var(--color-light)">
                        <use href="_assets/media/svg/sprites.svg#alert"></use>
                    </svg>
                     <p class="action-number">2</p>
                </div>
                <div class="action-content">
                    <p>Submit a Code Chanllenge only if you are a:</p>
                    <ol>
                        <li><svg width="56" height="56" fill="var(--color-light)"> <use href="_assets/media/svg/sprites.svg#searching-person"></use></svg>
                            <b> Recruiter </b>Searching for a talented developer
                        </li>
                        <li><svg width="56" height="56" fill="var(--color-light)"> <use href="_assets/media/svg/sprites.svg#contract"></use></svg>
                            <b> Employer </b> Hiring a developer
                        </li>
                        <li><svg width="56" height="56" fill="var(--color-light)"> <use href="_assets/media/svg/sprites.svg#handshake"></use></svg>
                            <b> Prospect </b> Let's Build Something Together
                        </li>
                    </ol>
                </div>
                <div class="action-footer">
                    <el-button>
                        <a slot="button" class="el-btn el-btn-2" href="#submit-challenge">Submit </a>
                    </el-button>
                </div>
            </div> 
        </el-column>
        {%- endfor -%}
    </el-grid>
    {% include "forms/form-submit.njk" %}
</el-section>

<el-section id="blogpost">
    <el-grid columns="2">
        <el-column grid="row">
            <h2>Recent Blogpost</h2>
        </el-column>
        <el-column grid="row" max-width="768px" center="auto">
            <ul>
                {%- for article in collections.article -%}
                    <li>
                        <article class="card-article">
                            <time datetime="{{ article.date | dateIso }}">{{ article.date | dateReadable }}</time><br><br>
                            <h3> {{ article.data.title }} </h3>
                            {% excerpt article %}
                            <el-button>
                                <a slot="button" class="el-btn el-btn-4" href="{{ article.url | url }}">Read more</a>
                            </el-button>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </el-column>
    </el-grid>
</el-section>

<el-section id="contact">
    <el-grid columns="2">
        <el-column grid="row">
            <h2>Contact Me</h2>
        </el-column>
        <el-column text-align="center">
            {% include "components/component-map.njk" %}
            <h3>I'am currently located in Fort Lauderdale Florida, please contact through Email or contact form first but don't call me before i replay back to you , thanks!</h3>
        </el-column>
        <el-column>
            {% include "forms/form-message.njk" %}
        </el-column>
    </el-grid>
</el-section>


