---
layout: "layouts/layout-singlePost.njk"
title: "Single Post"
stylesheet: "/_assets/css/stylesheet.css"
fonts: "https://fonts.googleapis.com/css?family=Coda+Caption:800|Source+Code+Pro|Dancing+Script&display=swap"
---

<el-section id="single-blogpost-page" padding-gap=10>
    <el-grid pixel-width="1024" auto-fit="columns" gap="1" template-columns="4fr 1fr">
        
        <el-column attr=columns gutter="4">
            <article class="single-blogpost-article">
                <h1 class="post-title">Post title Here</h1>
                <h2 class="post-subtitle">Post subtitle Here</h2>
                <p class="post-lead-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error iure beatae dolorum? Iure blanditiis
                facilis omnis et assumenda. Provident eos earum incidunt cupiditate, ullam enim quae sapiente autem
                deserunt!</p>
                <p class="post-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error iure beatae dolorum? Iure blanditiis
                facilis omnis et assumenda. Provident eos earum incidunt cupiditate, ullam enim quae sapiente autem
                deserunt! <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error iure beatae dolorum? Iure blanditiis
                facilis omnis et assumenda. Provident eos earum incidunt cupiditate, ullam enim quae sapiente autem
                deserunt!.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error iure beatae dolorum? Iure blanditiis
                facilis omnis et assumenda. Provident eos earum incidunt cupiditate, ullam enim quae sapiente autem
                deserunt! <a class="post-link" href="/t">post-link</a>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error iure beatae dolorum? Iure blanditiis
                facilis omnis et assumenda. Provident eos earum incidunt cupiditate, ullam enim quae sapiente autem
                deserunt! 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error iure beatae dolorum? Iure blanditiis
                facilis omnis et assumenda. Provident eos earum incidunt cupiditate, ullam enim quae sapiente autem
                deserunt! </p>
                <p class="post-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error iure beatae dolorum?.</p>
                <p class="post-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error iure beatae dolorum? Iure blanditiis
                facilis omnis et assumenda. Provident eos earum incidunt cupiditate, ullam enim quae sapiente autem
                deserunt!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error iure beatae dolorum? Iure blanditiis
                facilis omnis et assumenda. Provident eos earum incidunt cupiditate, ullam enim quae sapiente autem
                deserunt!.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error iure beatae dolorum? Iure blanditiis
                facilis omnis et assumenda. Provident eos earum incidunt cupiditate, ullam enim quae sapiente autem
                deserunt! 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error iure beatae dolorum? Iure blanditiis
                facilis omnis et assumenda. Provident eos earum incidunt cupiditate, ullam enim quae sapiente autem
                deserunt! 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error iure beatae dolorum? Iure blanditiis
                facilis omnis et assumenda. Provident eos earum incidunt cupiditate, ullam enim quae sapiente autem
                deserunt! </p>
                <a class="post-link" href="/t">post-link</a>
            </article>
        </el-column>

         <el-column display="flex" flex-direction="column" align-items="center" justify-content="flex-start">
            <svg fill="black"><use href="/_assets/media/svg/sprites.svg#github"></use></svg> 
            <p>andrew rico</p>
        </el-column>
        
    </el-grid>
</el-section>