---
layout: "layouts/layout-source.njk"
title: "API's Snipets"
stylesheet: "/_assets/css/stylesheet.css"
fonts: "https://fonts.googleapis.com/css?family=Coda+Caption:800|Source+Code+Pro|Dancing+Script&display=swap"
---
<el-section id="projects" padding-gap=6>

    <el-grid auto-fit="columns" gap="2" template-columns="3fr 1fr">

     <el-column attr=columns gutter=4>
            <article>
                <img src="/_assets/media/images/placeholder.png" alt="placeholder">
                <h3>Post #1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error iure beatae dolorum? Iure blanditiis
                facilis omnis et assumenda. Provident eos earum incidunt cupiditate, ullam enim quae sapiente autem
                deserunt!</p>
            </article>
            <article>
                <img src="/_assets/media/images/placeholder.png" alt="placeholder">
                <h3>Post #2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error iure beatae dolorum? Iure blanditiis
                facilis omnis et assumenda. Provident eos earum incidunt cupiditate, ullam enim quae sapiente autem
                deserunt!</p>
            </article>
            <article>
                <img src="/_assets/media/images/placeholder.png" alt="placeholder">
                <h3>Post #3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error iure beatae dolorum? Iure blanditiis
                facilis omnis et assumenda. Provident eos earum incidunt cupiditate, ullam enim quae sapiente autem
                deserunt!</p>
            </article>
            <article>
                <img src="/_assets/media/images/placeholder.png" alt="placeholder">
                <h3>Post #4</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error iure beatae dolorum? Iure blanditiis
                facilis omnis et assumenda. Provident eos earum incidunt cupiditate, ullam enim quae sapiente autem
                deserunt!</p>
            </article>
        </el-column>

         <el-column display="flex" flex-direction="column" justify-content="flex-start">
                <h4>Recent Activity</h4>
                <ol>
                    <li><a href="/">API #1 </a></li>
                    <li><a href="/">API #2 </a></li>
                    <li><a href="/">API #3 </a></li>
                </ol>
        </el-column>

    </el-grid>
</el-section>