---
layout: "layouts/layout-base.njk"
title: "Templates"
stylesheet: "/_assets/css/stylesheet.css"
fonts: "https://fonts.googleapis.com/css?family=Coda+Caption:800|Source+Code+Pro|Dancing+Script&display=swap"
---
<el-section id="projects" padding-gap=4 background="#fafafa">
    <el-grid id="conclution" auto-fit="columns" gap="2" template-columns="3fr 1fr">
        <el-column attr="auto-fit" columns="3" gutter="2" align-items="center">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
             <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
        </el-column>
        <el-column>
            <h4>Template Name</h4>
            <p>There is elem.matches(css) to check if elem matches the given CSS selector.There is elem.closest(css) to look for the nearest ancestor that matches the given CSS-selector. The elem itself is also checked.</p>
            <a href="/">Download Link</a>
        </el-column>
    </el-grid>
</el-section>


<el-section id="projects" padding-gap=4 background="#262626">
    <el-grid id="conclution" auto-fit="columns" gap="2" template-columns="3fr 1fr">
        <el-column attr="auto-fit" columns="3" gutter="2" align-items="center">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
             <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
        </el-column>
        <el-column>
            <h4>Template Name</h4>
            <p>There is elem.matches(css) to check if elem matches the given CSS selector.There is elem.closest(css) to look for the nearest ancestor that matches the given CSS-selector. The elem itself is also checked.</p>
            <a href="/">Download Link</a>
        </el-column>
    </el-grid>
</el-section>

<el-section id="projects" padding-gap=4 background="#fafafa">
    <el-grid id="conclution" auto-fit="columns" gap="2" template-columns="3fr 1fr">
        <el-column attr="auto-fit" columns="3" gutter="2" align-items="center">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
             <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
        </el-column>
        <el-column>
            <h4>Template Name</h4>
            <p>There is elem.matches(css) to check if elem matches the given CSS selector.There is elem.closest(css) to look for the nearest ancestor that matches the given CSS-selector. The elem itself is also checked.</p>
            <a href="/">Download Link</a>
        </el-column>
    </el-grid>
</el-section>


<el-section id="projects" padding-gap=4 background="#262626">
    <el-grid id="conclution" auto-fit="columns" gap="2" template-columns="3fr 1fr">
        <el-column attr="auto-fit" columns="3" gutter="2" align-items="center">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
             <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
            <img src="/_assets/media/images/placeholder.png" alt="placeholder">
        </el-column>
        <el-column>
            <h4>Template Name</h4>
            <p>There is elem.matches(css) to check if elem matches the given CSS selector.There is elem.closest(css) to look for the nearest ancestor that matches the given CSS-selector. The elem itself is also checked.</p>
            <a href="/">Download Link</a>
        </el-column>
    </el-grid>
</el-section>