<footer>
    <el-section id="footer" padding-top="2" padding-bottom="6" background="var(--color-quaternary)" color="white">
        <el-grid columns="4">
            <el-column align-items="center" justify-content="center">
                <strong class="site-name">{{ site.author.name }}</strong>
            </el-column>
            <el-column>
                <h3>About</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                </ul>
            </el-column>
            <el-column>
                <h3>Sources</h3>
                <ul>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </el-column>
            <el-column>
                <h3>Contact</h3>
                <ul>
                    <li><a href="/contact">Get In Touch</a></li>
                </ul>
                {% include "navigations/navigation-landmark-social.njk" %}
            </el-column>
        </el-grid>
    </el-section>
    <el-section id="footer-bottom" background="var(--color-gradient)" color="#fff" padding-bottom="3" padding-top="1">
        <el-grid columns="3">
            <el-column>
                <span> Made with <a href="https://www.11ty.io/" target="_blank" rel="noopener"> 11ty </a></span>
                <span> Hosted by <a href="https://www.netlify.com/" target="_blank" rel="noopener"> Netlify</a></span>
                <span> Built with <a href="https://github.com/Andrewrico/Thisel" target="_blank" rel="noopener"> thiselJS </a></span>
            </el-column>
            <el-column>
             <ul>
                <li>  <a href="/terms"> Disclaimer </a>  </li>

                <li>  <a href="/sitemap.xml" target="_blank"> Sitemap </a>  </li>

                <li>  <a href="/privacy"> Privacy </a>  </li>

                <li>  <a href="/FAQ"> FAQ </a>  </li>
            </ul>
            </el-column>
            <el-column>
                <el-copyright>
                    <span id="copyright" slot="copyright"> <a href="/archives"> andrewrico.com</a> All rights reserved </span>
                </el-copyright>
            </el-column>
        </el-grid>
    </el-section>
</footer>
{% include "navigations/navigation-landmark-panel.njk" %}
<script src="/_assets/js/modules/thisel-core.beta.js"></script>
<script src="/_assets/js/site.js"></script>