<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta property="fb:app_id" content="your_app_id" />
  <meta property=”og:type” content=”article” />
  <meta property=”og:title” content="title" />
  <meta property=”og:description” content="description" />
  <meta property=”og:image” content="image file" />
  <meta property=”og:url” content="url" />
  <meta property=”og:site_name” content="site name" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name=”twitter:title” content=”title”>
  <meta name=”twitter:description” content="description">
  <meta name=”twitter:image” content="image file">
  <meta name=”twitter:site” content=”@USERNAME”>
  <meta name=”twitter:creator” content=”@USERNAME”>

  <title>{{ site.author.name }} | {{ title}}</title>
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ keywords }}">
  <link href={{ site.path.stylesheet }} rel="stylesheet">
  <link href={{ site.path.fonts }} rel="stylesheet">


</head>

<el-loading background="var(--color-gradient)"></el-loading>
