<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ site.author.name }} | {{ title}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="description" content="{{ description }}" />
  <meta name="keywords" content="{{ keywords }}" />
  <meta name="theme-color" content="{{ site.author.theme_color }}" />
  <link rel="apple-touch-icon" href="{{ site.author.avatar }}">
  <link rel="stylesheet" href="{{ site.path.stylesheet }}">
  <link rel="stylesheet" href="{{ site.path.fonts }}">
  
  <meta property="fb:app_id" content="andrewrico's" />
  <meta property=”og:type” content="andrewrico's article" />
  <meta property=”og:title” content="andrewrico's title" />
  <meta property=”og:description” content="description" />
  <meta property="og:image" content="andrewrico's image file" />
  <meta property="og:url" content="http://www.andrewrico.com/" />
  <meta property="og:site_name" content="andrewrico's site name" />
  <meta name="twitter:card" content="andrewrico's summary_large_image" />
  <meta name="twitter:title" content="andrewrico`s title" />
  <meta name="twitter:description" content="andrewrico's description" />
  <meta name="twitter:image" content="andrewrico's image file" />
  <meta name="twitter:site" content="@andrewrico's" />
  <meta name="twitter:creator" content="@andrewrico" />
</head>
<el-loading></el-loading>
